header{
	background-color: yellow;
}

#headlink{
	text-align:center;
}
#headlink a{
			
	display: inline-block;
	padding: 20px;
	color: black;
}
#headlink a:hover{
	/*  text*/
	text-decoration: none;
	color: black;
	padding: 20px;
	background-color: white;
}
	#dilog{
	text-align:center;
}






#sele_loc{


background-color: #878787;
/*padding: 15px  6px ;*/

}

#sele_loc a{
height: 900px;
}


#sele_loc a:hover {
	text-decoration: none;
	color: black;
	background-color: yellow;

}




#maindata {
background-color: #212121;


height: 50px;
text-align:center;


}

#getdata{

	background-color: #616161;



}
#discrip{

	background-color: gray;

}




footer{

	background-color: green;
	color: white;
	text-align:center;


}

#bott{
	text-align:right;

	padding-top :300px; 

  	background-image:url(https://c2.staticflickr.com/6/5786/21465385785_eacd9365d3_k.jpg); 
  	background-repeat: no-repeat; 
  	background-size: cover;




}